<p id="notice"><%= notice %></p>

<h2>SP Setting</h2>
<p>
  <strong>ACS_URL:</strong>
  <%= saml_sso_url(@account) %>
</p>

<p>
  <strong>SP_ENTITY_ID:</strong>
  <%= saml_metadata_url(@account) %>
</p>

<p>
  <strong>
</p>

<p>
  <strong>MetaData:</strong>
  <%= link_to 'ダウンロード', saml_metadata_path(@account) %>
</p>

<div style="border: 1px solid gray;"></div>

<h2>IdP Setting</h2>
<p>
  <strong>sso_url:</strong>
  <%= @saml_setting.sso_url %>
</p>

<p>
  <strong>entity_id:</strong>
  <%= @saml_setting.entity_id %>
</p>

<p>
  <strong>certificate_fingerprint:</strong>
  <%= @saml_setting.certificate_fingerprint %>
</p>

<p>
  <strong>certificate_fingerprint_algorithm:</strong>
  <%= @saml_setting.certificate_fingerprint_algorithm %>
</p>

<p>
  <strong>x509_certificate:</strong>
  <%= @saml_setting.x509_certificate %>
</p>

<p>
  <strong>status:</strong>
  <%= @saml_setting.status %>
</p>




<%= link_to 'Edit', edit_saml_settings_path %> |